<?xml version="1.0"?>
<!--
/**
 * Copyright © Alexandru-Manuel Carabus All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Hawksama_OauthSecurityPlus::configuration"
             title="API Security Plus"
             module="Hawksama_OauthSecurityPlus"
             translate="title"
             sortOrder="110"
             action="hawksama/ip/index"
             parent="Hawksama_AdminMenu::menu"
             resource="Hawksama_OauthSecurityPlus::configuration"/>
    </menu>
</config>
